{% extends 'base.html.twig' %}

{% block title %}New EtatConsommable{% endblock %}

{% block body %}
    <h1>Create new EtatConsommable</h1>

    {{ include('etat_consommable/_form.html.twig') }}

    <a href="{{ path('app_etat_consommable_index') }}">back to list</a>
{% endblock %}
