<form method="post" action="{{ path('app_imprimante_delete', {'id': imprimante.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imprimante.id) }}">
    <button class="btn">Delete</button>
</form>
