{% extends 'base.html.twig' %}

{% block title %}Edit Imprimante{% endblock %}

{% block body %}
    <h1>Edit Imprimante</h1>

    {{ include('imprimante/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_imprimante_index') }}">back to list</a>

    {{ include('imprimante/_delete_form.html.twig') }}
{% endblock %}
