{% extends 'base.html.twig' %}

{% block title %}New Imprimante{% endblock %}

{% block body %}
    <h1>Create new Imprimante</h1>

    {{ include('imprimante/_form.html.twig') }}

    <a href="{{ path('app_imprimante_index') }}">back to list</a>
{% endblock %}
